input[type=submit] {
    padding: 10px 15px;
    background: rgb(35, 65, 199);
    width: 120px;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 50%;
    color: white;
    font-size: 15px;
}